<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Idioma Por Vuelo</title>
</head>
<body>
    {% for vuelos in ListaVuelos%}
        <tr>
            <table width="40%" style="text-align:center" border = "1;">
                 <tr>
                     <th>{{vuelos.avion.modelo}} {{vuelos.origen}} a {{vuelos.destino}}</th>
                 </tr>
                {% for item in vuelos.idiomas()%}
                 <tr>

                     <td>{{item}}</td>

                 </tr>
                {% endfor %}
            </table>
        </tr>
        <br>
     {% endfor%}
</body>
</html>