<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>
</head>
<body>
    <div>
        <a href="http://127.0.0.1:5000/tablaVuelos" ><button>Ejercicio 1/2/6</button></a>
    </div>
    <di>
        <a href="http://127.0.0.1:5000/invalidosTripulacion" ><button>Ejercicio 3</button></a>
    </di>
    <div>
        <a href="http://127.0.0.1:5000/noAutorizados" ><button>Ejercicio 4</button></a>
    </div>
    <div>
        <a href="http://127.0.0.1:5000/unDiaUnVuelo" ><button>Ejercicio 5</button></a>
    </div>
    <div>
        <a href="http://127.0.0.1:5000/idiomasPorVuelo" ><button>Ejercicio 7</button></a>
    </div>
</body>
</html>