<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabla Pasajeros</title>
</head>
<body>
    {% for vuelo in ListaVuelos %}
    Vuelo {{vuelo.avion.modelo}} desde {{vuelo.origen}} hasta {{vuelo.destino}}
    <table width="50%" style="text-align:center" border = "1;">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>DNI</th>
            <th>VIP</th>
            <th>NecesidadEspecial</th>
        </tr>
        {% for pasajero in vuelo.listaPasajeros%}
        <tr>
            <td>{{pasajero.nombre}}</td>
            <td>{{pasajero.apellido}}</td>
            {% if pasajero == vuelo.pasajeroJoven() %}
            <td>{{pasajero.fechaNac.date()}}*</td>
            {% else %}
            <td>{{pasajero.fechaNac.date()}}</td>
            {% endif %}
            <td>{{pasajero.dni}}</td>
            <td>{{pasajero.vip}}</td>
            <td>{{pasajero.necesidadEspecial}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% endfor %}
    pasajero joven *

</body>
</html>