<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Un Dia un Vuelo</title>
</head>
<body>
    <a href="http://127.0.0.1:5000/" ><button>Volver</button></a>
    <br>
    <table width="40%" style="text-align:center" border = "1;">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Valido</th>
        </tr>
        {% for persona in Lista %}
        <tr>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.dni}}</td>
            {% if Sistema.verificarDiasTripulante(persona)%}
            <td>Si</td>
            {% else %}
            <td>No</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="http://127.0.0.1:5000/" ><button>Volver</button></a>
</body>
</html>