<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Un Dia un Vuelo</title>
</head>
<body>
    {% for vuelo in Sistema.listaVuelos %}
    Vuelo {{vuelo.avion.modelo}} desde {{vuelo.origen}} hasta {{vuelo.destino}}
    <table width="40%" style="text-align:center;">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Valido</th>
        </tr>
        {% for persona in vuelo.listaTripulacion%}
        <tr>

            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.dni}}</td>
            {% if Sistema.verificarDiasTripulante(persona)%}
            <td>Si</td>
            {% else %}
            <td>No</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    {% endfor %}

</body>
</html>